<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Express Pizza(z?)</h1>  <!-- cause maybe you want some pizaz with your pizza? just in case -->
    

    <h2>Speciality Pizzas</h2>
    {{!-- specialty pizza links go here --}}
    <ul>
        <li><a href="/specialty?name=Anchovy+Lover's&price=18">Anchovy Lover's</a></li>
        <li><a href="/specialty?name=Sweater&price=12">Sweater Pizza</a></li>
        <li><a href="/specialty?name=None+Pizza+Left+Beef&price=15">None Pizza with left Beef</a></li>
    </ul>
    <h2>Custom pizzas, if you realy think you know better than we do!</h2>

    <a href="/customZa">Customize (at your own risk)</a>

    <h2>Leave a Review</h2>

    <a href="/review">Click here to leave a review</a>



</body>
</html>