

    <h1>If we did good, let us know!</h1>
    <h1>If we didn't, blame it on someone else!</h1>
    <h1>We know where you live!</h1>
    <br>
<form action="/reviewed" method="POST">
    <label>Who you are:</label>
        <input required name="name" type="text" placeholder="give us your name or else"/>
    <br><br>
    Insert comments or juicy gossip below:
    <br><br>
    

    <textarea name="comment" placeholder="Feed me with words" rows="4" cols="50"></textarea>


    <h2>Rate us!</h2>

    <input type="radio" name="rating">
    <label>5 (best (correct selection))</label><br>
    <input type="radio" name="rating">
    <label>4</label><br>
    <input type="radio" name="rating">
    <label>3</label><br>
    <input type="radio" name="rating">
    <label>2</label><br>
    <input type="radio" name="rating">
    <label>1 (horrid (don't click this one))</label><br>
     
    <a href="/"><button type="submit">Submit</button></a>

</form>

<a href="/">I don't have anything nice to say</a>